llama-index
llama-index-llms-gemini
python-dotenv
llama-index-embeddings-gemini
google-generativeai
pypdf
dotenv
pymupdf
llama-index-readers-file
llama-index-readers-web
googlesearch-python
reportlab
llama-index-readers-web
webdriver-manager
selenium